body{
    text-align: center;
}

.welcome{
    color: white;
    font-size: 180px;
    margin-top: 240px;
    margin-left: 150px;
    font-family: 'Italianno', cursive;
}

.normal{
    color: white;
    font-size: 130px;
    margin-top: 30px;
    margin-left: 150px;
    font-family: 'Italianno', cursive;
}

Canvas {
    animation-name: example;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

@keyframes example {
    0%{box-shadow: 1px 1px 38px red;}
    20%{box-shadow: 1px 1px 38px yellow;}
    40%{box-shadow: 1px 1px 38px green;}
    60%{box-shadow: 1px 1px 38px blue;}
    80%{box-shadow: 1px 1px 38px blueviolet;}
    100%{box-shadow: 1px 1px 38px red;}
}